{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <h1>Products</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Article</th>
                <td>{{ product.article }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ product.status }}</td>
            </tr>
            <tr>
                <th>Sale</th>
                <td>{{ product.sale }}</td>
            </tr>
            <tr>
                <th>New</th>
                <td>{{ product.new }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('products_index') }}">back to list</a>

    <a href="{{ path('products_edit', {'id': product.id}) }}">edit</a>

    {{ include('products/_delete_form.html.twig') }}
{% endblock %}
