{% extends 'base.html.twig' %}

{% block title %}Sizes index{% endblock %}

{% block body %}
    <h1>Sizes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Size</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for size in sizes %}
            <tr>
                <td>{{ size.id }}</td>
                <td>{{ size.size }}</td>
                <td>
                    <a href="{{ path('sizes_show', {'id': size.id}) }}">show</a>
                    <a href="{{ path('sizes_edit', {'id': size.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sizes_new') }}">Create new</a>
{% endblock %}
